# XLConnect requires rJava & XLConnectJars
import(rJava)
import(XLConnectJars)

# XLConnect exports the following S4 classes & methods
exportClasses(workbook, cellstyle)
exportMethods(
	addImage,
	cloneSheet,
	createCellStyle,
	createName,
	createSheet,
	existsName,
	existsSheet,
	getActiveSheetIndex,
	getActiveSheetName,
    getCellStyle,
	getDefinedNames,
	getReferenceFormula,
	getSheetPos,
	getSheets,
	hideSheet,
	isSheetHidden,
	isSheetVeryHidden,
	isSheetVisible,
	mergeCells,
	onErrorCell,
	print,
	readNamedRegion,
	readWorksheet,
	removeName,
	removeSheet,
	renameSheet,
	saveWorkbook,
	setActiveSheet,
	setBorder,
	setCellStyle,
	setColumnWidth,
	setDataFormat,
	setDataFormatForType,
	setFillBackgroundColor,
	setFillForegroundColor,
	setFillPattern,
	setMissingValue,
	setRowHeight,
	setSheetPos,
	setStyleAction,
	setStyleNamePrefix,
	setWrapText,
	show,
	summary,
	unhideSheet,
	unmergeCells,
	writeNamedRegion,
	writeWorksheet,
	"$"
)

# XLConnect exports the following functions & variables
export(
	col2idx,
	cref2idx,
	idx2col,
	idx2cref,
	mirai,
	loadWorkbook,
	readNamedRegionFromFile,
	readWorksheetFromFile,
	runUnitTests,
	writeNamedRegionToFile,
	writeWorksheetToFile,
	xlcFreeMemory,
	xlcMemoryReport,
	XLC
)

# XLConnect exports the following S3 methods
S3method(print, mirai)
S3method(with, workbook)

# keeps rcmd check from complaining 
importFrom("utils", "packageDescription")
