# XLConnect requires rJava
import(rJava)

# XLConnect exports the following S4 classes & methods
exportClasses(workbook)
exportMethods(
	addImage,
	createName,
	createSheet,
	existsName,
	existsSheet,
	getActiveSheetIndex,
	getActiveSheetName,
	getDefinedNames,
	getSheets,
	hideSheet,
	isSheetHidden,
	isSheetVeryHidden,
	print,
	readNamedRegion,
	readWorksheet,
	removeName,
	removeSheet,
	saveWorkbook,
	setActiveSheet,
	show,
	summary,
	unhideSheet,
	writeNamedRegion,
	writeWorksheet,
	"$"
)

# XLConnect exports the following functions & variables
export(
	mirai,
	loadWorkbook
)

# XLConnect exports the following S3 methods
S3method(print, mirai)
S3method(with, workbook)
